{% extends 'base.html' %}

//css
{% block head-css %}



{% endblock %}

//用户信息
{% block user-information %}
    <li class="nav-header">
        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="/static/img/profile_small.jpg"/>
                             </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
                                    class="font-bold">{{ request.user.name }}</strong>
                             </span> <span class="text-muted text-xs block">运维工程师 </span> </span>
            </a>
            {#            <ul class="dropdown-menu animated fadeInRight m-t-xs">#}
            {#                <li><a href={% url "profile" %}>个人简介</a></li>#}
            {#                <li><a href={% url "contacts" %}>通讯录</a></li>#}
            {#                <li><a href={% url "mailbox" %}>邮箱</a></li>#}
            {#                <li class="divider"></li>#}
            {#                <li><a href={% url 'logout' %}>退出登录</a></li>#}
            {#            </ul>#}
        </div>
        <div class="logo-element">
            菜单
        </div>
    </li>

{% endblock %}

//左侧菜单
{% block nav-menu %}

    <li>
        <a href='/'><i class="fa fa-dashboard"></i> <span class="nav-label">首页</span></a>
    </li>

    <li>
        <a href='/report'><i class="fa fa-cog"></i> <span class="nav-label">运维相关</span><span
                class="fa arrow"></span></a>
        {% block devops %}
            <ul class="nav nav-second-level collapse ">
                <li>
                    <a href="{% url 'nagios_home' %}">nagios</a>
                </li>

                <li>
                    <a href="/admin">ADMIN</a>
                </li>

            </ul>
        {% endblock %}
    </li>


{% endblock %}


//顶部搜索栏
{% block top-search %}
    <select class="js-data-example-ajax navbar-left" style="width:260px;">

    </select>
{% endblock %}
{% block button %}
    <li class="navbar-right">

        <a href="/"> <i class="fa fa-clock-o"></i></a>

    </li>
{% endblock %}
{% block expire %}
    <li class="navbar-right">
        <a data-toggle="modal" data-target="#add_host_modal">
            <i class="fa fa-plus"></i>
        </a>
    </li>


    <div class="modal inmodal fade" id="add_host_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xs">
            <div class="modal-content">
                <form method="post" action="/" id="form1">
{#                <form method="post" action="{% url 'add_host' %}" id="form1">#}
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">新增站点名</h4>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="">Host</label>
                            <input type="text" name="host" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>站点名</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>别名</label>
                            <input type="text" name="host_alias" class="form-control">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" id="modal_submit">提交</button>
                    </div>
                </form>

            </div>


        </div>
    </div>



{% endblock %}

#页面右上角邮件
{% block mail %}
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks"></i> <span class="label label-warning" id="task_span"></span>
    </a>
    <ul class="dropdown-menu dropdown-messages" style="width: 400px">
        <li>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>任务名称</th>
                        <th>任务执行进度</th>
                        <th>任务开始时间</th>
                        <th>任务更新时间</th>
                    </tr>
                    </thead>
                    <tbody id="task_tbody">

                    </tbody>
                </table>
            </div>
        </li>
        <li class='divider'></li>
        <li>
            <div class="text-center link-block">
{#                <a href="{% url '' %}">#}
{#                    <i class="fa fa-list-alt"></i> <strong>所有任务</strong>#}
{#                </a>#}
            </div>
        </li>
    </ul>

{% endblock %}

{#//页面右上角提醒#}
{% block message %}
    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-bell"></i> <span class="label label-primary" id="message_span"></span>
    </a>
    <ul class="dropdown-menu dropdown-alerts" id="message_ul">

        <li>
            <div class='text-center link-block'>
                <a href='/messages'>
                    <strong>查看所有提醒</strong>
                    <i class='fa fa-angle-right'></i>
                </a>
            </div>
        </li>

    </ul>

{% endblock %}


{#    //页面标签和可执行部分#}
{% block action-area %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>首页</h2>
            <ol class="breadcrumb">
                <li>
                    <a href={% url 'dashboard' %}>首页</a>
                </li>
                <li class="active">
                    <strong>Breadcrumb</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a href="" class="btn btn-primary">This is action area</a>
            </div>
        </div>
    </div>
{% endblock %}
{#//主页编辑部分#}
{% block page-content %}



{% endblock %}

{#//底部#}
{% block footer %}

{% endblock %}

{#//各页面js#}
{% block bottom-js %}



{% endblock %}
{% block tasks-js %}
    <script src="static/js/plugins/hcharts/highcharts.js"></script>
    <!-- Select2 -->
    <script src="/static/js/plugins/select2/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {


            // 顶部任务栏

            {#            clearInterval(int)#}
            // 顶部消息栏

            // 顶部搜索栏
            $(".js-data-example-ajax").select2({

                ajax: {
                    url: "/",
                    dataType: 'json',
                    delay: 500,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to
                        // alter the remote JSON data
                        console.log("ajax返回的对象是:")
                        console.log(data.items)
                        return {
                            results: data.items,
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    console.debug(markup)
                    return markup;
                }, // let our custom formatter work
                minimumInputLength: 1,  //至少输入多少个字符后才会去调用ajax
                maximumInputLength: 20, //最多能输入多少个字符后才会去调用ajax
                minimumResultsForSearch: 1,
                width: "260px",
                placeholder: "请输入站点名...",
                templateResult: formatRepo,
                {#                templateSelection: formatRepoSelection,#}
            });
            $('select').on('select2:select', function (evt) {
                var val = $('select').val();
                window.location.href = '/detail/' + val
            });


        });


        /* 这里2个函数是用于查询到内容后，显示在select2的下拉框里面 */
        function formatRepo(repo) {
            if (repo.loading) return repo.text;
            repo.text = repo.name;
            {#            repo.id = repo.code#}
            var markup = '<div class="clearfix">' +
                '<div class="col-sm-4">' + repo.id + '</div>' +
                '<div class="col-sm-20">' + repo.name + '</div>' +
                '</div>';

            return markup;
        }

        function formatRepoSelection(repo) {
            repo.selected = true;
            {#            repo.code = repo.id#}
            repo.name = repo.text
            if (repo.id == null || repo.id == "") {
                repo.text = '请输入站点名...'
                repo.name = repo.text
            }
            {#            $("#park_name").val(repo.name);#}
            console.log(repo);
            return repo.id;
        }
        /* 这里2个函数是用于查询到内容后，显示在select2的下拉框里面  end */





    </script>
{% endblock %}